#hero {
    background-color: #f7e7ce; /* Soft pastel pink */
    color: #5c4033; /* White text for contrast */
    padding: 5rem 0;
    text-align: center;
}
#hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

#hero p {
    font-size: 1.25rem;
    margin-top: 1rem;
}